PORT=5173
HOST=0.0.0.0
ADMIN_ALLOWED_IPS=127.0.0.1,::1
HOYO_API_BASE=https://api.ennead.cc/mihoyo/
WUWA_KR_CDN_BASE=https://hw-media-cdn-mingchao.kurogame.com/akiwebsite/website2.0/json/G152/kr/
ENDFIELD_NEWS_BASE=https://endfield.gryphline.com/ko-kr/news/
ENDFIELD_CMS_BASE=https://web-news.gryphline.com/
WUWA_NAVER_API_BASE=https://comm-api.game.naver.com/nng_main/v1/
WUWA_ENDGAME_FEED_URL=
WUWA_PUBLIC_EVENTS_URL=https://raw.githubusercontent.com/Sanma5657/wuwa-wiki-public/main/events.json
WUWA_PUBLIC_CALENDAR_URL=https://raw.githubusercontent.com/Sanma5657/wuwa-wiki-public/main/calendar.json
WUWA_WIKI_API_BASE=https://wuwa.wiki/
WUWA_WIKI_IMAGE_BASE=https://static-cloudflare-f8p1t7z8.wutheringwaves.wiki/transform/kuro/gameclient/Content/Aki/UI/UIResources/
SRA_API_BASE=https://starrailassistant.top/api/v1/
